.main {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-m);
  padding: var(--size-3xl) 0;
  max-width: 560px;
  margin: 0 auto;
  text-align: center;
}

.image {
  width: 130px;
  max-width: 100%;
}

.error {
  color: var(--color-error);
}
