.topbar {
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--color-background);
  box-shadow: 0 0 var(--size-m) rgba(0, 0, 0, 0);
  border-bottom: var(--border-width-s) solid transparent;
  transition:
    box-shadow 0.24s ease-in,
    border-bottom 0.24s ease-in;
}

.topbar.scrolled {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-bottom: var(--border-width-s) solid var(--color-border-topbar);
}

.topbarContent {
  display: flex;
  align-items: center;
  padding: var(--size-s) var(--size-s);
  height: 60px;
}

.logoMobile {
  display: none;
}

.logoDesktop {
  height: var(--font-size-3xl);
}

.rightContent {
  margin-left: auto;
  display: flex;
  gap: var(--size-xs);
  align-items: center;
}

.menu {
  margin-left: var(--size-xl);
}

@media (max-width: 1024px) {
  .circle {
    display: none;
  }
  .buyButton {
    display: none;
  }
}

@media (max-width: 700px) {
  .logoMobile {
    display: flex;
    height: var(--size-2xl);
  }
  .logoDesktop {
    display: none;
  }
}
