.container {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
  margin-top: var(--size-xs);
}

.flexCenter {
  align-items: center;
  display: flex;
}

.label {
  display: block;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-medium);
  margin-right: var(--size-xs);
  width: var(--size-l);
}
