@import "@tutellus/tutellus-theme/lib/index.css";

:root {
  --gradient-vote-bottom-bar: linear-gradient(30deg, #dfbaf7, #d1d6fa);
  --color-border-topbar: transparent;
}

.dark {
  --gradient-vote-bottom-bar: linear-gradient(30deg, #ae3cf9, #3c53f9);
  --color-border-topbar: var(--color-gray);
}

#root {
  position: relative;
  z-index: 1;
}

html {
  overflow-y: scroll; /* Forces the scrollbar to appear */
}

body {
  font-weight: var(--font-weight-medium);
}

:root {
  max-width: 100vw;
  min-height: 100vh;
}

/* Oculta la barra de desplazamiento en WebKit-based browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Oculta la barra de desplazamiento en IE, Edge y Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
